/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	--color-text1: white;
	--color-text2: rgb(197, 5, 5);
	--color-text3: black;
	--color-background: black;
	--color-background2: rgb(235, 235, 235); 
	--color-background3: lightgrey;
	--color-button1: green;
	--color-button2: rgb(127, 127, 127);

	
}


/****************/
/* JOUW STYLING */
/****************/

section {
	background-color: black;
}


/*van studentassistente gekregen*/
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}



/* Header */
header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 10em; 
    background-color: var(--color-background);
    z-index: 1000; /* Zorgt ervoor dat de header boven andere elementen staat */
}

/* Bret logo als link */
header a {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Bret logo */
header img {
    height: 15em; /* Beperkt de hoogte van de afbeelding tot 80% van de headerhoogte */
    width: auto; /* Houdt de aspect ratio van de afbeelding in stand */
    display: block; /* Zorgt ervoor dat de afbeelding geen extra ruimte inneemt */
}


/* Hamburger knop */
#hamburger {
    background: none;
    border: none;
    color: var(--color-text1);
    position: absolute; 
    top: 1em; /* Zorgt dat de knop bovenaan staat */
    right: 1em; /* Zorgt dat de knop aan de rechterkant van de header staat */
	z-index: 1100;
	font-size: 2em;
}


/* Verborgen navigatiemenu (hamburgermenu) */
.nav-menu {
    display: none; /* Verbergt het menu standaard */
    flex-direction: column;
	padding-top: 10em;
    position: fixed; /* Zorgt ervoor dat het menu bovenop andere elementen verschijnt */
    top: 0; /* Start vanaf de bovenkant van het scherm */
    left: 0; /* Begin aan de linkerkant van het scherm */
    right: 0; /* Tot de rechterkant van het scherm */
    bottom: 0; /* Tot de onderkant van het scherm */
    background-color: var(--color-background);
    text-align: center; /* Center tekst */
}

.nav-menu a {
    display: flex; /* Zorg ervoor dat de tekst binnen de link goed gecentreerd is */
    align-items: center; /* Centreert de tekst verticaal */
    justify-content: center; /* Centreert de tekst horizontaal */
    text-decoration: none; /* Verwijder de onderstreping van de links */
    color: var(--color-text1);
    font-size: 1.2em; /* Pas de lettergrootte aan naar wens */
    margin: 1em 1em; /* Verhoog de margin naar 2em boven de link */
}

/* Maak het menu zichtbaar */
.nav-menu.show {
    display: flex; /* Maakt het menu zichtbaar */
}


/* Section 1 */
section:nth-of-type(1) article {
	position: absolute;
	width: 100%;
	top: 30%;
	display: flex;
	flex-direction: column;
}

section:nth-of-type(1) article h2{
	color:var(--color-text2);
	text-align: center;
	font-size: 2.5em;
	display: flex;
	justify-content: center;
	margin: 1em;
}

section:nth-of-type(1) article p{
	color:var(--color-text1);
	text-align: center;
	font-size: 1.2em;
	margin: 2em;
}

section:nth-of-type(1) article a{
	background-color: var(--color-button1);
	color: var(--color-text1);
	border-radius: 2em;
	border: none;	
	font-size: 1em;
	padding: 1em 2em 1em 2em;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 0.5em;
	margin-top: 2.5em;
	text-align: center;
	text-decoration: none;
}

section:nth-of-type(1) img {
	width: 100%;
	padding: 10em 0 0 0;
}



/* Section 2 */
.club {
	width: 100%;
	position: relative;
}

.club article {
	position: relative;
	width: 100%;
	top: 30%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.club p {
	text-align: center;
	position: absolute;
	color: var(--color-text1);
	margin-top: 13em;
	margin-left: 3em;
	margin-right: 3em;
}

.club h2 {
	text-align: center;
	position: absolute;	
	color:var(--color-text2);
	font-size: 4em;
	margin-top: 1em;
}

.club a {
	background-color: rgb(127, 127, 127);
	color: var(--color-text1);
	border-radius: 2em;
	border: none;	
	font-size: 1em;
	padding: 1em 2em 1em 2em;
	width: 50%;
	text-align: center;
	text-decoration: none;
}

.club a:nth-of-type(1) {
	position: absolute;
	margin-top: 20em;
}

.club a:nth-of-type(2) {
	position: absolute;
	margin-top: 25em;
}

.club a:nth-of-type(3) {
	position: absolute;
	margin-top: 30em;
}

.club a:nth-of-type(4) {
	position: absolute;
	margin-top: 35em;
}

.club video {
	width: 100%;
	height: 90vh; 
	object-fit: cover;
}

.club button {
	background-color: transparent;
	color: white;
	font-size: 0.6em;
	border: 1px solid white;
	margin: 1em;
	padding: 1em;
	border-radius: 3em;
	position: absolute;
	top: 90%;
}

.club button:hover {
	background-color: white;
	color: black;
}



/* footer */
footer {
	background-color: var(--color-background);
	color: var(--color-text1);
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;	
}

footer h2 {
	padding-top: 2em;
	padding-bottom: 1em;
}

footer p {
	margin-top: 0.5em;
	margin-left: 3em;
	margin-right: 3em;
	font-size: 0.7em;	
}

footer p:nth-of-type(11) {
	padding-bottom: 2em;
}

footer p:nth-of-type(13) {
	padding-bottom: 2em;
}

footer ul {
	font-size: 7px;
    display: flex;                  
    justify-content: space-between;     
    align-items: center;            
	list-style-type: none;
    width: 100%;                     
}

footer li {
	text-align: center;                 
	white-space: nowrap;                
	text-decoration: underline;  
}


footer h4 {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


/* tweede page */
.reservering {
    padding-bottom: 2em; 
}

.reservering h2 {
	font-size: 3em;
	padding-top: 5em;
	color: var(--color-text1);
	display:flex;
	text-align: center;
	font-weight: lighter;
}

.reservering p {
	font-size: 1.1em;
	color: var(--color-text1);
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
}


/* Stijlen voor invulformulier */
fieldset {
    border: none;
    padding: 1em;
}

label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: bold;
    color: var(--color-text1);
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1em;
    border: none;
    background-color: var(--color-background2);
    color: var(--color-text3);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Focustijl */
input[type="text"]:focus,
input[type="email"]:focus {
    background-color: var(--color-background2);
    outline: none;
}

/* Voor de knop */
form button {
    display: block; 
    width: 18em; 
    height: 4em;
    margin-left: 5em;
    margin-right: 5em;
    background-color: var(--color-button1);
    color: var(--color-text1); 
    border: none; 
    border-radius: 2em; 
    font-size: 1em; 
    cursor: pointer; 
}


/* Stijlen voor lichte modus */
#lightmode-toggle {
	position: absolute;
	top: 22%;
	left: 2%;
	cursor: pointer;
	text-decoration: underline;
	background-color: transparent;
	border: none;
	color: var(--color-text1);

}

.light-mode #lightmode-toggle {
    background-color: var(--color-background2); /* Achtergrondkleur voor lichte modus */
    color: black; /* Tekstkleur voor lichte modus */
}

.light-mode section {
    background-color: var(--color-background2); /* Achtergrondkleur voor secties in lichte modus */
    color: var(--color-text3) /* Tekstkleur voor elementen binnen de sectie in lichte modus */
}

.light-mode section p, 
.light-mode section h1, 
.light-mode section h2, 
.light-mode section h3, 
.light-mode section a, 
.light-mode section label, 
.light-mode section input, 
.light-mode section form,
.light-mode section button a {
    color: var(--color-text3) /* Algemene tekstkleur voor andere elementen binnen de sectie in lichte modus */
}

.light-mode input {
    color: var(--color-text3); /* Tekstkleur voor invoervelden in lichte modus */
    background-color: var(--color-background3); /* Achtergrondkleur voor invoervelden in light mode */
}



/* Light Mode */
@media (prefers-color-scheme:light) {
    body {
        background-color: rgb(225, 225, 225); /* Achtergrondkleur voor light mode */
        color: black; /* Tekstkleur voor light mode */
    }

    section {
        background-color: rgb(225, 225, 225); /* Achtergrondkleur voor light mode */
    }

    p, h1, h2, h3, a, label {
        color: black; /* Tekstkleur voor light mode */
    }

    input {
        background-color: lightgrey; /* Achtergrondkleur voor invoervelden in light mode */
    }

    footer p, footer h2 {
        color: black; /* Tekstkleur voor footer in light mode */
    }

    nav a {
        color: var(--color-text1); /* Kleur voor navigatie links in light mode */
    }
}


